<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title %>|| <%= config.site_title %> </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.1/dist/css/foundation.min.css">
    <script src="https://kit.fontawesome.com/e204b45b98.js" crossorigin="anonymous" ></script>
    <%= stylesheet_link_tag "site" %>
    </head>
    <body>
   <%# <%= partial "stickynav" %>

    <%= partial 'nav'%>
    <%= yield %>

    <%= partial "footer" %>
    <%= javascript_include_tag "jquery.min" %>
    <%= javascript_include_tag "what-input.min" %>
    <%= javascript_include_tag "foundation661" %>
    <%= javascript_include_tag "site" %>
    <script>
      $('.title-bar').on('sticky.zf.stuckto:top', function(){
      $(this).addClass('shrink');
    }).on('sticky.zf.unstuckfrom:top', function(){
      $(this).removeClass('shrink');
    })
    </script>
  </body>
</html>
